{% extends "reports_base.html" %}

{% block content %}
	<p><a href="/admin/reports/orders">Orders</a></p>
	<p><a href="/admin/reports/customers">Customers</a></p>
	<p><a href="/admin/reports/states">States</a></p>
{% endblock %}