{% extends 'reports_base.html' %}

{% block content %}

	<div id="content-main">
		<form action="/admin/reports/{{ report }}/" method="post">{% csrf_token %}
			<input type="hidden" name="default_start_date" value="{{ start_date }}" />
			<input type="hidden" name="default_end_date" value="{{ end_date }}" />
			<input type="hidden" name="default_records" value="{{ records }}" />
			<input type="hidden" name="default_order" value="{{ order }}" />
			{{ report_form }}
			<input type="submit" name="html" value="Submit" />
			<input type="submit" name="csv" value="Generate CSV" />
		</form>


		<form action="/admin/reports/csv/{{ report }}/" method="post">{% csrf_token %}
			{{ csv_form }}
		</form>

		<table>
			<tr>
				<th></th>
				<th>Description</th>
				<th>Total</th>
				{% if report == 'states' %}<th>Total Tax</th>{% endif %}
			</tr>
		{% for row in rows %}
			<tr class="{% cycle 'row1' 'row2' %}">
				<td>{{ forloop.counter }}</td>
				<td>{{ row.description }}</td>
				<td>{{ row.sum }}</td>
				{% if report == 'states' %}<td>{{ row.tax_total }}</td>{% endif %}
			</tr>
		{% endfor %}
		</table>

	</div>
{% endblock %}